@model IEnumerable<sp18Team7Final.Models.Order>

@{
    ViewBag.Title = "CustomerOrderHistory";
}

<h2>CustomerOrderHistory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CancelledOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletedOrder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CancelledOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletedOrder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
