@model sp18Team7Final.Models.Schedule
@using sp18Team7Final.Models

@{
    ViewBag.Title = "CopySchedule";
}

<h2>Copy Schedule</h2>

Here is the schedule you are trying to copy:
<div>
    <table class="table table-sm table-striped">
        <tr>
            <th>Movie</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Theater</th>
            <th>Special Event</th>
        </tr>
        @foreach (Showtime st in Model.Showtimes)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => st.Movie.Title)</td>
            <td>@Html.DisplayFor(modelItem => st.StartTime)</td>
            <td>@Html.DisplayFor(modelItem => st.EndTime)</td>
            <td>@Html.DisplayFor(modelItem => st.Theater)</td>
            <td>@Html.DisplayFor(modelItem => st.SpecialEvent)</td>
        </tr>
        }
    </table>
</div>

<font color="red">@ViewBag.EntryError</font>
@Html.HiddenFor(model => model.ScheduleID)
@using (Html.BeginForm("CopySchedule", "Schedules", FormMethod.Post))
{
    <p class="form-group">
        <div class="form-group">
            Copy schedule to this date: <br />
            <input type="date" name="datSchedDate" class="form-control" />
        </div>

        Which theater would you like to copy?
        <div class="form-group">
            <label class="radio">@Html.RadioButton("SelectedTheater", "1")1</label>
            <label class="radio">@Html.RadioButton("SelectedTheater", "2")2</label>
        </div>

        Which theater do you want to put this schedule into?
        <div class="form-group">
            <label class="radio">@Html.RadioButton("TargetTheater", "1")1</label>
            <label class="radio">@Html.RadioButton("TargetTheater", "2")2</label>
        </div>

        <input type="submit" value="Copy" class="btn btn-default" />
    </p>
}